:root {
    --main-color: #516CF7;
    --color-title: #252B42;
    --purple: #A478E8; 
    --white: #FFF; 
    --gray: #737373; 
    --grayLight: #E6E6E6; 
    --orange: #E74040; 
    --blue: #2965F1; 
    --yellow:#FFDE25; 
    --bg01: #EDEFF8;
    --main-padding: 15px 25px;
    --main-box-shadow: 0px 4px 5.9px 0px rgba(81, 108, 247, 0.25);
    --big-size: 58px;
    --medium-size: 32px; 
    --small-size: 16px; 
  }

  *{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0; 
  }

  nav, .sobreMi{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }


ul {
    list-style: none;
    text-decoration: none;
}

li{
    float: left;
    margin-right: 10px;
    padding: 0 4px;   
}

.navlink{
    color: var(--main-color);
    font-weight: bold;
    text-decoration: none;
}

.btn-navlink {
    color: var(--white);
    background-color: var(--main-color);
    padding: var(--main-padding);
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: var(--main-box-shadow);
}

header {
    background: url(../images/bg-header.png) no-repeat;
    background-size: cover;
    padding-top: 20px;
    height: 760px;
}

.sobreMi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 115px;
}

.sobreMi .left {
    max-width: 50%;
}

.sobreMi .right {
    max-width: 100%;
    height: auto;
}

.sobreMi h6 {
    color: var(--main-color);
    font-size: var(--small-size);
}

.sobreMi h1 {
    color: var(--color-title);
    font-size: var(--big-size);
}

.sobreMi p {
    color: var(--gray);
    font-size: var(--small-size);
}

.misTecnologiasFavoritas {
    width: 100%;
    text-align: center;
    padding: 50px;

}

.misActividadesFavoritas h2 {
    text-align: center;
}

.misTecnologiasFavoritas .cards {
    display: flex;
    justify-content: center;

}

.misTecnologiasFavoritas .card {
    width: 100%;
    background-color: var(--white);
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    width: 328px;
    padding: 35px 40px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    border-radius: 8px;
}

hr {
    margin-left: 33%;
    width: 35%;
    height: 3px;
    border: none;
  }

  .line1 {
    background-color: var(--orange);
}

.line2 {
    background-color: var(--blue);
}

.line3 {
    background-color: var(--yellow);
}

.column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .misActividadesFavoritas h2 {
    text-align: center;

  }

  .formularioToDo {
    padding: 20px;
  }

  form {
    width: 100%;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid var(--grayLight);
    background: #FFF;
  }

  input[type="text"]:hover,
  textarea:hover {
    border: 1px solid var(--main-color);
  }


  input[type="text"]:focus,
  textarea:focus {
    border: 1px solid var(--main-color) !important;
    outline: none;
  }
  
  ::placeholder {
    color: var(--gray); 
  }
  
  textarea::placeholder {
    color: var(--gray); 
  }

  input[type="submit"] {
    color: var(--white);
    background-color: var(--main-color);
    /*width: 100%; */
    padding: 15px;
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    box-shadow: var(--main-box-shadow);
}

input[type="submit"]:hover {
    background-color: var(--purple);

}

  .listToDo {
    padding: 20px;
    background-color: var(--bg01);
  }

  .misActividadesFavoritas {
    display: flex;
    align-items: center;
  }

  .formularioToDo, .cardList {
    padding: 20px;
  }

  .misActividadesFavoritas h2 {
    color: var(--main-color);
  }

  .cardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--grayLight);
    background: var(--white);
    box-shadow: 0px 4px 4px 0px rgba(195, 194, 194, 0.25);
  }

  .card .imgActivity {
    width: 200px;
  }

  .card .botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .check{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .card h3, p {
    color: var(--gray)
  }

  /*RESPONSIVE*/
  @media only screen and (max-width: 768px) {
    .column {
        float:inline-start;
        width: 100%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      nav {
        width: 100%;
      }

      nav .logo {
        width: 100%;
      }

      nav li {
        display: flex;
        flex-wrap: wrap;
      }

      .sobreMi {
        text-align: center;
        padding: 25px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .sobreMi .left {
        max-width: 100%;
    }
    
    .sobreMi .right {
        max-width: 100%;
        height: auto;
    }

    .sobreMi .right img {
        max-width: 80%;
        width: 100%;
    }

      .misTecnologiasFavoritas .cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .cardList {
        width: 100%;
        display: flex;
        justify-content: center;  
      }

    input[type="submit"] {
        margin: auto 0;
        width: 100%;
      }

      .misActividadesFavoritas {
        display: block;
      }

  }